/*---------------------------------------------------*/
/* BASIC SETUP */
/*---------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /*The first thing to do is to set all margin and padding to 0*/

html{
background-color: #fff;
color: #555;
font-family: 'Lato',Arial, sans-serif;
font-weight: 300;
font-size: 20px;
text-rendering: optimizeLegibility;
} /*Whatever added here is applicable for entire web page*/

/*To clear the floats.Search why to clear the flots.Episode number 46*/ 
.clearfix{zoom: 1;}
.clearfix{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


.row{
    max-width: 1140px;  
    margin: 0 auto 0 auto; /*This is to set the contents to center*/   /*This above *,html and .row classes we built first*/ 
}

section{
    padding: 80px 0px;  /*This is used to add whitespace between sections. Margin can be also be used instead of passing, but if any background color is added then it should cover the margin areas. hence Padding is used.*/
} 
/*---------------------------------------------------*/
/* HEADER */
/*---------------------------------------------------*/
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) , url(img/hero.jpg);
    background-size: cover;
    background-position:center; 
    background-attachment: fixed;
    height: 100vh; /*This we set so that whatever the width of viewing screen is, it will occupy from top to bottom of view port*/
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1,h2,h3{
  font-weight: 300;
    text-transform: uppercase;   
}

h1{
    margin-top : 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 250% ; /*We want to set this to 40px.But in responsive desing , everythig should be relative. Above we have set Fint size to 20px in global html.Hence 200% of 20px is 200%*/
    word-spacing: 4px;
    letter-spacing: 1px;
   
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin : 0 auto;
    margin-top: 30px;   
}        /*This psudo class is added when we want to appear something on html.This is added just in css.We can 'after' tag in the inpect element*/

h3{
    font-size: 100%;
    margin-bottom: 15px;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; 
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 5px 0 5px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid #e67e22 transparent;
    transition: border-bottom 0.2s;    
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}
/*---------------------------------------------------*/
/* Paragraphs */
/*---------------------------------------------------*/
.long-cpoy{
    line-height: 145%;
    width: 70%;
    margin-left : 15%;
}

.box{
    padding: 2%;    
}

.box p{
    font-size: 85%;
    line-height: 120%;
}


/*---------------------------------------------------*/
/* ICONS  :   Icons are fonts so font related css attributes cab be used with Icons*/
/*---------------------------------------------------*/
.icon-big{
    font-size: 200%;
    display: block;
    margin-bottom: 10px;
    color:  #e67e22;
    text-align: center;
}
.icon-small{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*This is how you aling the icons with text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

/*----LINK--------*/
a:link,
a:active{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22; 
    transition: border-bottom 0.2s,color 0.2s;  
}

a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent; /*To make border transperant/none */
}

/*---------------------------------------------------*/
/* BUTTON */
/*---------------------------------------------------*/

/*Inline-Block element: this is the element that is inline html elemet which also has margin and padding unlike normal inline element*/
.btn{
    display: inline-block;
    padding: 10px 30px 10px 30px;
    font-weight: 300;
    text-decoration: none;    
    border-radius: 100px;
    color: #fff;
}
.btn:hover,
.btn:active{
    background-color:  #e67e22;   
}

.btn-full:link,
.btn-full:visited{
    background-color:  #e67e22; 
    border: 1px solid   #e67e22;
    color: #fff;
    margin-right: 15px;
}
.btn-full:hover,
.btn-full:active{
    border: 1px solid #cf6d17;    
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;    
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;        
}

.section-features .long-cpoy{
    margin-bottom: 35px;
}

/*---------------------------------------------------*/
/* MEALS */
/*---------------------------------------------------*/

.section-meal{
    padding: 0%;
}

 .meals-showcase {
    list-style: none;
    width: 100%;
}
/* .meals-showcase li {
    display: block;   
    float: left;  
    width: 25%;
} */

.meal-photo {
    display: block;
    float: left;
    width: 25%;
    margin: 0%;
    overflow: hidden;
    background-color: black;
}   /*After adding floats, they should also be cleared(search why).Clearfix css above mentioned is used to clear floats. And that is used in classes where the foats are used   */
.meal-photo img {
    width: 100%;
    height: auto;
    transform: scale(1.03); /*This scales the photo from 100 to 115% by transform.By this browswer width overflows so, a scroll bar appears.Fot that, apply overflow to its container*/
    transition: transform 0.7s, opacity 0.7s; /*this makes transform to take place 1 second and change in opacity to take place in 1sec, mentioned in below hover */
    opacity: 0.6; /*As image backgrou was white, adding its opacity will give bright clors of images.hence we added backgroud color black in its parent */
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1.15); /*When mouse overd, bring the image from 1.to 1.15% */
}

/*---------------------------------------------------*/
/* How IT WORKS */
/*---------------------------------------------------*/

.section-steps{
    margin-top: 480px;
    background-color: #f6f6f6;
}
.steps-box:first-child{
    text-align: right;
    padding-right: 3%; 
    margin-top: 30px; 
}
.steps-box:last-child{
    text-align: left;
    padding-right: 3%;
    margin-top: 70px; 
}
.app-screen{
    width: 40%;
}
.works-step{
    margin-bottom: 50px;
}
.works-step div{   /*mskr circle around number q*/
    color: #e67e22;
    border: 2px solid #e67e22;
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size : 150%;
    margin-right:25px; 
}
.btn-app img{
    height: 50px;
    width: auto;
    margin-right:10px;   
}

.btn-app:link,
.btn-app:visited{
    border:0;
}


/*---------------------------------------------------*/
/* CITIES
/*---------------------------------------------------*/
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.city-feature{
    margin-bottom: 5px;
}

/*---------------------------------------------------*/
/* Testimonials
/*---------------------------------------------------*/
.section-testimonials{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin: 40px;
}
blockquote:before{
    content: "\201c"; /*ISO code for this*/
    font-size: 500%;
    display: block;
    position: absolute;  /*When a postion is absolute, make sure its parent has postion set to relative.Hence above its relative*/
    top: 0;
    left: -3px;
}
cite{
    font-size: 90%;
    margin-top: 25px;   
    display: block;  /*making this as block will make a line break.So photo and name will come to next line*/
   
}

cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; /*To make text to appena in middle of image*/
}

/*---------------------------------------------------*/
/* SignUp Section
/*---------------------------------------------------*/
.section-plans{
    background-color: #f6f6f6;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px ;
    width: 90%;
    margin-left: 5%;
    box-shadow: 0 2px 2px #555;
}
.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child{
    background-color: #fcfcfc;
    border-top-left-radius:5px;
    border-top-right-radius:5px; 

}

.plan-box div:last-child{
    text-align: center;
    border: none;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;    
    font-weight: 100;
    color: #e67e22;
}
.plan-price span{
    font-size: 30%; /*30% of its parent.Parent has 300 percent above in .plan-price*/
    font-weight: 300;
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box a{
    color: #e67e22;
}
.plan-box a:hover{
    color: #fff;
}

